:root{
    --color-light : #F8FFE5;
    --color-good : #06D6A0;
    --color-bad: #EF476F;
    /* #1B9AAA; */
    --color-background : #3C3D40;
    --color-highlight :#FFC43D;

    --grid-font: "Dongle", sans-serif;
    --grid-font-size: 300px;
}

/* RESET ALL BROWSER margins & paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--color-background) ;
}

nav {
    background-color: var(--color-highlight);
    margin:0;
    border: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-family: var(--grid-font);
    font-size: 50px;
}

main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
}

.grid{
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 30px;
}

/* Cells styles  */
.cell{
    height: 200px;
    width: 200px;
    background-color: var(--color-light);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--grid-font);
    font-size:var(--grid-font-size);
}

.winning-cell {
    height: 200px;
    width: 200px;
    background-color: var(--color-good);
    border-radius: 10px;
    font-family: var(--grid-font);
    font-size:var(--grid-font-size);
}

.losing-cell {
    height: 200px;
    width: 200px;
    background-color: var(--color-bad);
    border-radius: 10px;
    font-family: var(--grid-font);
    font-size:var(--grid-font-size);
}

.clickable:hover {
    transform: scale(1.2);
}


/* Rematch button */

#rematch-button {
    margin: 30px;
    border: 0;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    font-family: var(--grid-font);
    font-size: 50px;
    background-color: var(--color-light);
}

#rematch-button:hover {
    background-color: var(--color-good);
    transform: scale(1.2);
}

.hidden{
    display: none;
}